.header{
  height: 60px;
  background-color: #1A2B3C;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-icon{
  margin-left: 20px;
  color: white;
}

.profile-icon{
  margin-right: 20px;
  color: white;
  border: 1px solid #F8F8F9;
  border-radius: 36px;
  padding:8px;
}